<div class="footer">
        <div class="row">
                <div class="column">
                    Social
                    <ul class="links"> 
                        <li>
                            <a href="https://twitter.com/home">
                                Twitter
                        </a></li>
                        <li>
                                <a href="https://twitter.com/home">
                                    Instagram
                            </a></li>
            
                    </ul>
            
                </div>
                <div class="column">Logo</div>
                <div class="column">Site Map
                        <ul class="links"> 
                                <li>
                                    <a href="https://twitter.com/home">
                                        Clients
                                </a></li>
                                <li>
                                        <a href="https://twitter.com/home">
                                            Members
                                    </a></li>
                    
                            </ul>
                </div>
              </div>
              <div class="copyright">
                  <p>© Copyright 2019 </p>
              </div>
</div>
